<!-- start custom footer snippets -->
<body>
    <div style="display: flex; align-items: center;">
        <img src="/images/avatar_2.png" alt=""  style="width: 102px; height: auto; margin-right: 10px;">
        <div>
            <p style="margin-top:3px;margin-bottom:3px;">Contact me:</p>
            <p style="margin-top:3px;margin-bottom:3px;">dupont.ronan.50@gmail.com</p>
			<p style="margin-top:3px;margin-bottom:3px;">+33 6 70 90 88 08</p>
        </div>
    </div>
</body>
<!-- end custom footer snippets -->
