{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" href="{{ base_path }}/images/favicon-vague_64x64.png">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-vague_32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-vague_16x16.png" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="#081d3b">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

{% if page.translation_key == 'home' %}
<!-- Additional researcher identity evidence. The @id matches the Person node from seo.html. -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://ronan-dupont.github.io/#person",
  "name": "Ronan Dupont",
  "image": "https://ronan-dupont.github.io/images/profile-cropped.svg",
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Montpellier",
      "url": "https://www.umontpellier.fr/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Toulon",
      "url": "https://www.univ-tln.fr/"
    }
  ],
  "subjectOf": [
    {
      "@type": "WebPage",
      "name": "Nagoya University Zhang–Sogabe Laboratory member page",
      "url": "https://na.nuap.nagoya-u.ac.jp/member/"
    },
    {
      "@type": "WebPage",
      "name": "ICMASE 2026 organizing committees",
      "url": "https://www.icmase.com/committees"
    },
    {
      "@type": "WebPage",
      "name": "Soutenance de thèse de Ronan Dupont – Geosciences Montpellier",
      "url": "https://www.gm.umontpellier.fr/soutenance-de-these-de-ronan-dupont-2/"
    }
  ]
}
</script>
{% endif %}

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
